.Banner-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 100px;
}

.Banner-text {
    font-size: 24px;
    list-style: none;
    display: flex;
}

.Banner-btn {
    text-decoration: none;
    color: #FF6060;
    margin: 0px 50px;
    cursor: pointer;
}
.Banner-btn-selected {
    border-bottom: 2px solid #FF6060;
}

.Banner-btn:hover {
    border-bottom: 2px solid #FF6060;
}